.nav{
    width: 70%;
    margin: auto;
    .nav-item{
        width: 50px;
        height: 5px;
        background-color: var(--principal);
        border-radius: 5px;
        margin: 0px 10px;
    }

    

}

.estilo{
    font-size: x-small !important;
    text-align: center !important;
    color: #777777 !important;
    span{
        font-size: smaller;
    }

}