
.contenedor{
    background-color: var(--fondo);
         height: 100vh;
         padding-top: 90px;
    &>div{
        width: 50%;
        margin: auto;
        padding:20px 0px
    }
    
       
        position: relative;
        span{
            margin-right: 1em;
        }
       &>div{
           margin-top: 5px;
           margin-bottom: 10px;
       }
       &>div:first-child{
       margin: auto;
    }
       .identidades{
        text-align: left;
       
        font-size: small;
       }
       &>div:nth-child(2){
        width: fit-content;
        margin: auto;
       }
       &>div:last-child{
       position: absolute;
       bottom: 0;
       }
       
       .boton{
        width: 40%;
        margin: auto;
       }
       a{
           text-decoration: underline;
           color:var(--input)
       }
    
        position: relative;
        .img1{
            position: absolute;
            bottom: 5%;
            left: 0;
        }
        .img2{
            position: absolute;
            top: 5%;
            right: 0;
            @media only screen and (max-width : 570px)
            {
               display: none;
            }
        }

}
