<app-header [darkheader]="true"></app-header>
<div class="contenedor">
    <img class="img2" src="./../../../../../assets/imagenes/puntos.png" style="    width: 80px;" alt="" srcset="">
    <img class="img1" src="./../../../../../assets/imagenes/puntos.png" style="    width: 80px;" alt="" srcset="">
           <div>
            <div class="row alineando">
                <div class="col-12 text-center text-white">
                    <h1>¡Bienvenido a movi!</h1>
                </div>
                <div class="col-12 identidades text-center text-white">
                    <div class=" text-left text-white">
                        <div><span class="material-icons mr-4">
                            perm_identity
                            </span>Validaremos tu identidad</div>
                        <div><span class="material-icons mr-4">
                            credit_card
                            </span>Consultaremos tu buró de crédito</div>
                        <div><span class="material-icons mr-4">
                            request_page
                            </span>Comprobaremos tus ingresos</div>
                    </div>
                </div>
                <div class="col-12 text-white text-center">
                    <h6>Estás a tres sencillos pasos de estrenar el carro de tus sueños</h6>
                </div>
                    <div class="d-grid gap-2 mb-4 boton">
                        <button routerLink="/autenticacion/exito" class="btn btn-primary" type="button">Continuar</button>
                    </div>
                
                    <div class="col-12 text-center text-light ">
                        <a>En otro momento</a>
                    </div>
                  
            </div>
           </div>
           <div class="text-white text-center" style="width: 100%; position: absolute; bottom:20px">
            Auto nuevo, corazón contento
        </div>
</div>