.fondo{
    background-color: $secondary;
    padding: 0%!important;
}
.form-floating{
    input{
        background-color: #ecf1f4;
    }
    label{
        color:#808080;
    }

}

.contenedorInputCheckRadio{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
  
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        border-radius: 10px;
        background: $inputlight;
        border: 0;
      }
    
      


      &:hover input ~ .checkmark {
        background-color: $inputdark;
      }
     


      & input:checked ~ .checkmark {
        background-color: $primary;
      }
      


      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
     



       input:checked ~ .checkmark:after {
        display: block;
      }
   
      
       .checkmark:after {
        left: 10px;
        top: 5px;
        width: 10px;
        height: 15px;
        border: solid $inputlight;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
  
      
  }


  .btn-primary {
    
    --bs-btn-color: var(--fondo);
    --bs-btn-bg:var(--principal);
    --bs-btn-border-color: var(--principal);
  }

  .btn-primary:hover {
    
    background: $inputlight;
    color: $secondary;
    border-color: $inputlight;
  }

  .container-fluid{
      padding: 0;
  }

  .cosas{
    width: 100%;
    margin: 0px 11px;
    span:first-child{
        float: left;
        text-decoration: underline;
    }
    span:last-child{
        float: right;
        color:#ababab;
    }
    a:first-child{
      float: left;
      text-decoration: underline;
  }
  a:last-child{
      float: right;
      color:#ababab;
  }
}

.alerta{
  text-decoration: none !important;
    color: #d94851;
    font-size: large;
}

.desabilitado{
  background: #c6c6c6!important;
  color: gray !important;
  border: 0 !important;
}