.text-center{
    color:white;
}
.centrar{
    text-align: center;
}
.sinborder{
    padding: 0%;
}

form{
    padding: 20%;
}
span{
    text-decoration: underline;
    font-weight: bold;
}

a{
    color:black;
}


