.text-center{
    color:white;
}
.centrar{
    text-align: center;
}
.sinborder{
    padding: 0%;
}



a{
    color:black;
}

.versionescritorio{
    display: block;
    @media only screen and (max-width : 570px)
    {
        display: none;
    }
}

