<div style="height: 100vh;" class="row ">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6  col-sm-6 col-xs-12 sinborder">
        <app-header></app-header>
        <div class="row ">
            <app-formulario-crearcuenta></app-formulario-crearcuenta>
        </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 fondo versionescritorio">
        <img src="../../../../../assets/imagenes/logomovil.png" width="100%" height="60%" alt="" srcset="">
        <div class="text-center">
            <h3>La forma más fácil de estrenar tu auto</h3>
            <h5>Sin pago inicial</h5>
        </div>
    </div>
</div>