<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <div class="form-group row margen">
        <div class="row">
            <div class="col centrar">
                <h1>Crear cuenta</h1>
                <p>Te damos la bienvenida a la forma más fácil y accesible de estrenar un auto</p>
            </div>
        </div>
        <div class="form-floating mb-3 col-12">
            <input autocomplete="off"  formControlName="correo" type="email" [class.is-invalid]="f.correo.touched && f.correo.invalid" [class.is-valid]="f.correo.touched && f.correo.valid" class="form-control " id="floatingInput" placeholder="anyvalue">
            <label for="floatingInput">Correo eléctronico</label>
            <div  class="invalid-feedback">
                <div class="alert alert-danger" role="alert">
                    <span class="material-icons mr-4 alerta">
                        error
                        </span>
                    <span *ngIf="f.correo.touched && f.correo.errors?.required">Campo requerido</span>
                    <span *ngIf="f.correo.touched && f.correo.errors?.email">Correo inválido</span>
                  </div>
            </div>
        </div>
        <div class="form-floating mb-3 col-12 passwordinput">
            <input  formControlName="password" [class.is-invalid]="f.password.touched && f.password.invalid" [class.is-valid]="f.password.touched && f.password.valid" [type]="verPassword?'text':'password'" class="form-control" id="floatingInput" placeholder="anyvalue">
            <span *ngIf="vacio(f.password.value) && !verPassword" (click)="verPassword=true" class="material-icons mr-4 alerta">
                visibility
                </span>
                <span *ngIf="vacio(f.password.value) && verPassword" (click)="verPassword=false" class="material-icons mr-4 alerta">
                    visibility_off
                    </span>
            <label for="floatingInput">Crea tu contraseña</label>
            <div  class="invalid-feedback">
                <div class="alert alert-danger" role="alert">
                    <span class="material-icons mr-4 alerta">
                        error
                        </span>
                    Campo requerido
                  </div>
            </div>
        </div>
        <div class="form-floating mb-3 col-12">
            <input autocomplete="off"  formControlName="celular" type="tel" [class.is-invalid]="f.celular.touched && f.celular.invalid" [class.is-valid]="f.celular.touched && f.celular.valid" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Celular</label>
            <div  class="invalid-feedback">
                <div class="alert alert-danger" role="alert">
                    <span class="material-icons mr-4 alerta">
                        error
                        </span>
                    <span *ngIf="f.celular.errors?.required">Campo requerido</span>
                    <span *ngIf="f.celular.errors?.pattern">Télefono inválido</span>
                  </div>
            </div>
        </div>
        <div class="mb-3 col-12">
            <label class="contenedorInputCheckRadio">Acepto los <span>Términos, Condiciones y Políticas de Privacidad.</span>
                <input formControlName="terminos" [class.is-invalid]="f.terminos.touched && f.terminos.invalid"  id="esAjusteMensualIsr" type="checkbox">
                <div *ngIf="f.terminos.touched && f.terminos.invalid" class="alert alert-danger" role="alert">
                    <span class="material-icons mr-4 alerta">
                        error
                        </span>
                    Campo requerido
                  </div>
                <span class="checkmark"></span>
              </label>
              <div  class="invalid-feedback">
               
            </div>
        </div>
        <div class="d-grid gap-2">
            <button  class="btn btn-primary" type="submit">
                <div *ngIf="cargando" class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <span *ngIf="!cargando"> Crear cuenta</span>
               </button>
          </div>
    </div>

</form>