<form class="mt-6">

    <div class="form-group row margen">
        <div class="row mb-4">
            <div class="col text-center">
                <h5>Para crear tu cuenta, ingresa el código que te mandamos al:</h5>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <h5>3321496475</h5>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 text-center">
                <a href="">Cambiar número</a>
            </div>
        </div>
        <div class="row mb-4 otpclass">
            <div class="col-12 text-center">
                <input type="text" class="form-control">
                <input type="text" class="form-control">
                <input type="text" class="form-control">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 text-center">
                <a href="">Reenviar código</a>
            </div>
        </div>
        <div class="d-grid gap-2 mb-4">
            <button routerLink="/autenticacion/exito" class="btn btn-primary" type="button">Continuar</button>
        </div>
        
    </div>

</form>