
form{
    padding: 5%;
    padding-top: 100px;
    margin: auto;
    width: 60%;
    @media only screen and (max-width : 570px)
    {
        width: 90%;
    }
}
.otpclass{
    input[type="text"]{
        padding: 4px;
        width: 32px;
        height: 37px;
        display: inline-block;
        margin: 0px 5px;
        text-align: center;
    }
    margin-top: 40px;
    margin-bottom: 60px!important;
}
*{
    a{
        color: var(--gray);
        font-weight: 600;
    }
}