.modalitoespecial{
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    .contenedorgridcuadros{
        display: grid;
                gap: 1px;
                grid-template-columns: repeat(3, 1fr);
        &>div{
                
            padding: 10px;
            background-color: var(--input);
            width: 100px;
            height: 100px;
            border-radius: 2px;       
            margin:5px;
            text-align: center;
            padding-top: calc(50% - 25px);
        }
    }
    .cosas{
        width: 100%;
        margin: 0px 11px;
        span:first-child{
            float: left;
            text-decoration: underline;
        }
        span:last-child{
            float: right;
            color:#ababab;
        }
    }
    
}

.part1{
    height: calc(100% - 120px);
    background-color: var(--inputdark);
    margin: 20px;
    text-align: center;
    padding-top: calc(50% + 30px);
    font-size: xxx-large;
    color: grey;
}
.part2{
    background-color: var(--gray) ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100%;
    width: 100%;
    color:white;
    padding:30px;
    span{
        text-decoration: underline;

    }
    span:first-child{
        float: left;
    }
    span:last-child{
        float: right;
    }
}


.fotoaqui{
    height: calc(100% - 250px);
}
.sinfotoaqui{
    padding-top: 0%;
}
